%btn {
  display: inline-block;
  border-radius: 5px 30px;
  padding: 8px 20px;
  margin: 3px;
  font-family: $btn-font;
  font-size: medium;
  box-shadow: 3px 4px 6px $dark-color;

  &:hover {
    transform: scale(0.9);
  }
}

.btn-primary {
  @extend %btn;
  background-color: $btn-color;
  color: lighten($btn-color, 20%);
}

