.quizStack {
  box-sizing: border-box;
  width: 100vw;
  background-color: lighten($mute-light, 20%);

  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  // .hide {
  //     display: none;
  // }
  .sass-intro {
    margin: 10px 10px 50px 10px;
    padding: 10px;
    display: inline-block;
    width: 90vw;
    height: 200px;
    font-size: 1.2rem;

    h2 {
      font-family: $bangers;
      font-size: 60px;
      color: $secondary-color;
      text-shadow: 5px 7px 10px $dark-color;
      letter-spacing: 0.2rem;
    }

    .freebie {
      background-color: lighten($mute-light, 40%);
      padding: 20px;
      border-radius: 5px;
      box-shadow: 5px 5px 8px darken($mute-light, 25%);
    }
  }

  .quizContainer {
    .qText {
      font-family: $primary-font;
      margin: 20px;
      padding: 5px;
      border-radius: 5px;
      background-color: $light-color;
      box-shadow: 5px 5px 8px darken($mute-light, 25%);

      h3 {
        font-family: $bangers;
        letter-spacing: 0.2rem;
        font-size: 42px;
        color: $secondary-color;
        text-shadow: 2px 2px 5px $dark-color;
      }

      h4 {
        color: $mute-light;
        font-size: larger;
      }

      button {
        @extend %btn;
        font-family: $primary-font;
        font-weight: 800;
        background-color: $btn-color;
        color: lighten($btn-color, 25%);
      }

      .btn {
        display: inline-block;
        width: 190px;
        height: 175px;
        font-size: 16px;
        justify-content: flex-start;
      }
    }
  }
}
